{{ define "main" }}
<!--  Custom CSS  -->
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
  <div>
    <!-- 年別にループする -->
    {{ $pages := .Data.Pages.ByTitle.Reverse }}
    {{ range $pages }}
    <div class="years">
      <a href="{{ .Permalink | absURL }}">
        <strong><h2>{{ .Title }}</h2></strong>
      </a>
    </div>
    <ul>
      <!--年別ごとに記事数でループ -->
      {{ range .Data.Pages.ByDate.Reverse }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    <hr class="years_article">
    {{ end }}
  </div>
{{ end }}
